<% provide(:title, "Help") %>

<h1 class="center">Help</h1>
<p>First, add a to-do reminder with a due date. When you have managed to complete said task, go ahead and delete. It's really that simple.</p>
