body {
  font-family: 'News Cycle', sans-serif;
}

a {
  color: black;
  transition: color 100ms ease;
}

a:visited {
  color: black;
}

a:hover {
  color: lightgray;
}

.center {
 text-align: center;
}

#page-content {
  width: 80%;
  margin: 0 auto;
}

#page-title {
 background-color: black;
 color: white;
 position: relative;
 top: 0;
}

#page-title a {
  color: white;
  text-decoration: none;
}

/* To-Do Reminder Container */
.reminder_container {
  margin-bottom: 30px;
}

.reminder_container p {
  margin-top: 0;
  margin-bottom: 0;
}

.reminder_container-top {
  font-size: 0.75em;
  font-color: gray;
}

.reminder_container-bottom {
  letter-spacing: 0.05em;
}

.reminder_container-update {
  font-size: 0.75em;
}

.due_at {
  color: red;
}

.created_at {
  color: green;
}

.updated_at {
  color: orange;
}

/* Create/Edit Items */
#reminder_reminder {
  resize: none;
  width: 300px;
  height: 150px;
}